* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  justify-content: flex-start;
}

nav a {
  color: white;
  text-decoration: none;
}

header {
  background: #c31432;
  background: -webkit-linear-gradient(to right, #240b36, #c31432);
  background: linear-gradient(to right, #240b36, #c31432);
  height: auto;
  width: 100%;
}

.container {
  width: 95%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-around;
}

img {
  display: block;
  height: 450px;
  object-fit: cover;
  width: auto;
  animation: moveUp 1s ease-in;
}

.text {
  width: 50%;
  color: white;
}

.text h1 {
  font-size: 60px;
  animation: moveRight 1s ease-in;
}

.text h2 {
  font-size: 30px;
  animation: moveLeft 1s ease-in;
}

.social-icons {
  font-size: 30px;
  display: inline-block;
  margin-top: 15px;
  border: 1px solid #fff;
  width: 150px;
  border-radius: 3px;
  text-align: center;
  padding: 5px 0;
  animation: moveRight 1s ease-in;
}

.social-icons a {
  color: white;
}

.social-icons a:hover {
  color: grey;
}

.wave {
  height: 100px;
  width: 100%;
  background: #c31432;
  background: -webkit-linear-gradient(to right, #240b36, #c31432);
  background: linear-gradient(to right, #240b36, #c31432);
}

.menu {
  display: block;
  z-index: 10;
  animation: moveLeft 1s ease-in;
}

.links {
  position: fixed;
  display: flex;
  top: 0;
  background: black;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  left: 0;
  flex-direction: column;
  width: 100%;
  transition: all 1s ease;
  background: #c31432;
  background: -webkit-linear-gradient(to top, #240b36, #c31432);
  background: linear-gradient(to top, #240b36, #c31432);
}

.one {
  -webkit-clip-path: circle(0% at 0 0);
  clip-path: circle(0% at 0 0);
}

.two {
  -webkit-clip-path: circle(141.4% at 0 0);
  clip-path: circle(141.4% at 0 0);
}

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media screen and (max-width: 1065px) {
  img {
    height: 390px;
  }
}

@media screen and (max-width: 980px) {
  img {
    height: 320px;
  }
  .text h1 {
    font-size: 45px;
  }
  .text h2 {
    font-size: 20px;
  }
  .social-icons {
    font-size: 25px;
    width: 125px;
  }
}

@media screen and (max-width: 770px) {
  img {
    height: 200px;
  }
  .text h1 {
    font-size: 30px;
  }
  .text h2 {
    font-size: 15px;
  }
  .social-icons {
    font-size: 25px;
    width: 125px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .text {
    width: 100%;
    text-align: center;
  }
  .text h1 {
    font-size: 30px;
  }
  .text h2 {
    font-size: 12px;
  }
  .social-icons {
    font-size: 25px;
    width: 125px;
  }
}

@media screen and (max-width: 300px) {
  img {
    height: 150px;
  }
  .text h1 {
    font-size: 25px;
  }
  .text h2 {
    font-size: 11px;
  }
  .social-icons {
    font-size: 20px;
    width: 115px;
  }
}
